<template>
  <div class="base-drawer">
    <transition name="fade">
      <div
        v-if="open && overlay"
        class="base-drawer__overlay"
        @click.stop="hide"
      />
    </transition>
    <transition name="drawer">
      <div
        v-if="open"
        class="base-drawer__content"
        :class="classes"
      >
        <BaseButton
          class="close-button fs-35 right-10 top-5"
          @click.stop="hide"
        >
          <i class="far fa-times" />
        </BaseButton>
        <slot />
      </div>
    </transition>
  </div>
</template>

<script>
import BaseButton from '@/components/UI/Base/BaseButton';

export default {
  name: 'BaseDrawer',

  components: {
    BaseButton,
  },

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    overlay: {
      type: Boolean,
      default: true,
    },

    noShadow: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    classes() {
      return {
        'base-drawer__shadow': !this.noShadow,
      };
    },
  },

  watch: {
    open(val) {
      if (val) {
        document.querySelector('body').classList.add('modal-open');
        return;
      }
      document.querySelector('body').classList.remove('modal-open');
    },
  },

  methods: {
    hide() {
      this.$emit('hide');
    },
  },
};
</script>

<style>
.base-drawer__overlay {
  background-color: rgba(0, 0, 0, .3);
  bottom: 0;
  left:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.base-drawer__content {
  background-color: white;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  transform: translateZ(0);
  width: 500px;
  z-index: 1051;
}

.base-drawer__shadow {
  box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
}

.drawer-enter-active,
.drawer-leave-active {
  transition: all .3s ease-in-out;
}

.drawer-enter,
.drawer-leave-to {
  transform: translateX(100%);
}

@media (max-width: 500px) {
  .base-drawer__content {
    max-width: 500px;
    width: 100%;
  }
}
</style>
