<template>
  <div
    v-click-outside="hide"
    class="base-dropdown"
    :class="componentClasses"
  >
    <div
      class="base-dropdown__selected"
      :class="{ 'open': show }"
      @click="show = !show"
    >
      <slot
        name="selected"
        :item="selectedItem"
      >
        <span>{{ selectedItem.name }}</span>
      </slot>
      <span class="base-dropdown__trigger">
        <i class="fas fa-chevron-down" />
      </span>
    </div>
    <SlideDownTransition :add-height="2">
      <ul
        v-show="show"
        class="base-dropdown__list"
        :class="dropdownClasses"
      >
        <li
          v-for="item in items"
          :key="item[identifier]"
          class="base-dropdown__item"
          @click="setSelectedId(item[identifier])"
        >
          <slot
            name="item"
            :item="item"
          >
            {{ item.name }}
          </slot>
        </li>
        <slot name="extra" />
      </ul>
    </SlideDownTransition>
  </div>
</template>

<script>
import ClickOutside from '@/directives/click-outside';
import SlideDownTransition from '@/components/UI/Transitions/SlideDownTransition';

export default {
  name: 'BaseDropdown',

  components: {
    SlideDownTransition,
  },

  directives: {
    ClickOutside,
  },

  props: {
    items: {
      type: Array,
      default: () => [{}],
    },

    selectedId: {
      type: [Number, String],
      default: null,
    },

    identifier: {
      type: String,
      default: 'id',
    },

    componentClasses: {
      type: Array,
      default: () => [],
    },

    selectedClasses: {
      type: Array,
      default: () => [],
    },

    dropdownClasses: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      show: false,
    };
  },

  computed: {
    selectedItem() {
      const selected = this.items.find((item) => item[this.identifier] === this.selectedId);

      if (selected) {
        return selected;
      }

      if (this.selectedId === '' || this.items.length > 0) {
        return { id: '' };
      }

      return { id: -1, name: 'Henter...' };
    },
  },

  methods: {
    setSelectedId(id) {
      this.$emit('update', id);
      this.show = false;
    },

    hide() {
      this.show = false;
    },
  },
};
</script>

<style lang="scss">
.base-dropdown {
  position: relative;
}

.base-dropdown__selected {
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    height: 35px;
    padding: 0 32px 0 10px;
    position: relative;
}

.base-dropdown__selected.open {
  border-radius: 3px 3px 0 0;
}

.base-dropdown__selected.open + .base-dropdown__list {
  z-index: 100;
}

.base-dropdown__trigger {
  position: absolute;
  right: 10px;
  top: 8px;
}

.base-dropdown__list {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 2px 8px 0 rgba(0,0,0,.12);
  margin: 0;
  overflow-x: auto;
  padding: 0;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: auto;
  z-index: 99;
}

.base-dropdown__item {
  cursor: pointer;
  padding: 6px 10px;
}

.base-dropdown__item:hover {
  background-color: #f1f1f1;
}
</style>
