<docs>
# Hint

Hint / Alert component to display messages or notices

```
<Hint [default, primary, success, info, warning, danger]>
  <slot></slot>
</Hint>
```

## Props

// What class and default color that
// should be used
default,
primary,
success,
info,
warning,
danger
  boolean

</docs>

<script>
export default {
  name: 'Hint',
  props: {
    default: Boolean,
    primary: Boolean,
    success: Boolean,
    info: Boolean,
    warning: Boolean,
    danger: Boolean,
  },
  render(h) {
    const children = [this.$slots.default];

    const data = {
      class: {
        hint: true,
        default: this.default,
        primary: this.primary,
        success: this.success,
        info: this.info,
        warning: this.warning,
        danger: this.danger,
      },
    };

    return h('div', data, children);
  },
};
</script>

<style lang="scss" scoped>
@mixin hint-theme($color) {
  background-color: lighten($color, 30%);
  border-left: 5px solid $color;
  padding-left: 15px;
  padding-right: 15px;
}

.hint {
  background-color: transparent;
  font-size: 14px;
  margin: 15px 0 20px;
  padding: 10px 0;
  color: #4a4a4a !important;

  &.default {
    @include hint-theme(#e5e8ed);
  }

  &.primary {
    @include hint-theme(#3c8dbc);
  }

  &.success {
    @include hint-theme(#00a65a);
  }

  &.info {
    @include hint-theme(#5bc0de);
  }

  &.warning {
    @include hint-theme(#f39c12);
  }

  &.danger {
    @include hint-theme(#d9534f)
  }
}
</style>
