<template functional>
  <label class="nemo-checkbox">
    {{ props.label }}
    <input
      :checked="props.value"
      v-bind="attrs"
      :disabled="props.disabled"
      type="checkbox"
      class="no-iCheck"
      v-on="{ ...listeners, input: $event => listeners.input($event.target.checked) }"
    >
    <span class="checkbox" />
  </label>
</template>

<style lang="scss" scoped>
/* Customize the label (the container) */
.nemo-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkbox {
      background-color: #2489c5;
      border-color: #2489c5;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .checkbox {
    position: absolute;
    left: 0;
    margin: 0;
    margin-top: -20px;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border: 1px solid #d3cfc8;
    transition: background-color .3s ease;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 6px;
      height: 11px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkbox {
    border-color: #2489c5;
  }

  input:checked ~ .checkbox:after {
    display: block;
  }
}

.form-inline {
  .nemo-checkbox {
    display: inline-block;
  }

  .checkbox {
    margin-right: 0;
    margin-top:0 ;
  }
}

.form-horizontal {
  .checkbox {
    min-height: auto;
  }
}

</style>
