<docs>
# CustomInput

Custom input component with optional addon text

```
<CustomInput v-model [type: string, label: string, id: string, addonRight: boolean, textRight: boolean]>
  [optinal slot name=formAddon]
</CustomInput>
```

Props

// The usual data binding
v-model (value + @input)
  string

// The type of input
type
  string,
  default: text

// Label to show for the input
label
  string

// Id to match label with input element
id
  string

// If the addon (slot) should be displayed on
// the right or on the left of the input
addonRight
  boolean

// If the text should be displayed on the right
// side of the input
textRight
  boolean

</docs>

<template>
  <div>
    <label v-if="label" :for="id">{{ label }}</label>
    <div class="input-group" :class="inputClasses">
      <slot name="formAddon"></slot>
      <input :value="value" :type="type" :id="id" @focus="toggleFocus" @blur="toggleFocus" @change="$emit('input', $event.target.value)">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class CombinedInput extends Vue {
  @Prop({ default: 'text' }) private type!: string;
  @Prop() private value!: string;
  @Prop() private label!: string;
  @Prop() private id!: string;
  @Prop() private addonRight!: boolean;
  @Prop() private textRight!: boolean;

  private focus: boolean = false;

  private toggleFocus(): void {
    this.focus = !this.focus;
  }

  get inputClasses(): object {
    return {
      'focus': this.focus,
      'addon-right': this.addonRight,
      'text-right': this.textRight,
    };
  }
}
</script>

<style lang="scss" scoped>
.input-group {
  align-items: center;
  border: 1px solid #666;
  display: inline-flex;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 7px 5px;
  width: 100%;

  &.addon-right {
    flex-direction: row-reverse;

    input {
      padding-right: 5px;
    }
  }

  &.focus {
    outline: -webkit-focus-ring-color auto 5px;
  }

  & > *:not(input) {
    color: #777;
    font-size: 90%;
  }

  input {
    border: none;
    flex-grow: 2;
    font-size: inherit;
    outline: none;
    padding-left: 5px;
  }

  &.text-right input {
    text-align: right;
  }
}
</style>
