<docs>
## Wizard steps

### Blueprint
```JavaScript
<Wizard>

  <WizardStep title="Step 1">
    // The actual step content

    <div slot="validBox">
      // Content if step is valid
    </div>
  </WizardStep>

  <WizardStep title="Step 2">
    ...
  </WizardStep>

  ...

</Wizard>
```

### Props

```JavaScript
title
  // Sets the title of the step
  type: String,
  default: ''

titleNumbers
  // Set to true to display numbers next to the title
  type: Boolean,
  default: true
```

### Slots

```Javascript
default

validBox
```

</docs>

<template>
  <div class="wizard-step" :class="stepClasses">

    <div class="wizard-step__title">
      <div v-if="titleNumbers" class="title-number">{{ stepNumber }}</div>
      <div class="title">
        <div>
          {{ title }}
        </div>
        <i v-if="valid" class="material-icons">check</i>
      </div>
      <div v-if="checked && !active" class="edit-step"><a @click.prevent="navigateToStep()">{{ $tr('edit') }}</a></div>
    </div>

    <div v-if="valid && !active" class="wizard-step__valid-box">
      <slot name="validBox"></slot>
    </div>

    <div class="wizard-step__body">
      <slot></slot>
    </div>

  </div>
</template>

<script>
export default {
  name: 'WizardStep',

  props: {
    title: {
      type: String,
      default: ''
    },

    titleNumbers: {
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      active: false,
      checked: false,
      valid: false,
      validObject: {}
    }
  },

  methods: {
    navigateToStep () {
      this.$store.dispatch('wizard/navigateTo', this)
    }
  },

  computed: {
    stepNumber () {
      return this.$store.getters['wizard/steps'].indexOf(this) + 1
    },

    stepClasses () {
      return {
        'active': this.active,
        'un-checked': !this.checked,
        'valid': this.valid
      }
    }
  },

  mounted () {
    this.$store.dispatch('wizard/addStep', this)
  }
}
</script>
