<template>
  <div class="wizard">
    <div class="wizard__step-wrapper">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Wizard',

  mounted () {
    this.$store.dispatch('wizard/initialize')
  }
}
</script>
